<header class = 'dashHeader d-flex flex-row justify-content-between align-items-center px-4'>
    <img class = 'my-3 logo' src="/css/imgs/vultureLogo.png" alt="Vulture Logo">
    <h1 class="display-3"><%=heading%></h1>
    <form action="/session/clear" method="post">
        <input class="btn btn btn-outline-dark" type="submit" value="Log Out">
    </form>
</header>
