<!DOCTYPE html>
<html lang="en" dir="ltr">
    <% include ./partials/head.ejs %>

    <body>
        <div class="container">
            <h1>Vulture</h1>
            <a class="btn btn-primary"href="/session/new">Log In</a>
            <a class="btn btn-outline-primary" href="/user/new">Sign Up</a>
        </div>
    </body>
</html>
