body{
    background: lightblue;
    font-family: 'Taviraj', serif;
}

h1{
    font-family: 'Pangolin', cursive;
}

h5{
    font-family: 'Work Sans', sans-serif;
}
/*
   ======
== Home Page Styling
   ======
*/

#homeHeader {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#homeHeader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

#homeHeader .container {
  position: relative;
  z-index: 2;
}

#homeHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
   ======
== Dashboard Styling
   ======
*/
.logo{
    width:120px;
}
.row{
    border:1px solid gold;
}
.col{
    border: 1px solid green;
}
.floor{
    border:1px solid blue;
    position: relative;
    min-height: 50px;
}
.floorName{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   text-align: center;
}
.building{
    border:2px solid red;
    width:90%;
}
.foodAlert{
    margin-right: 5px;
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: red;
    background-image: url("/css/imgs/skull.png");
    background-size: contain;
    background-position: 3px 0;
    background-repeat: no-repeat;
}
.indexCol{
    border: 1px solid black;
    width:200px;
    height:220px;
    border-radius: 100px 100px 0 0;
    background-color: grey;
    background-image: url('imgs/kissclipart-grass-png-clipart-download-clip-art-6f30829daac881b0.png');
    background-size: 255px 70px;
    background-position: -25px 153px;
    background-repeat: no-repeat;

}
