body{
    background: #acc18a;
    font-family: 'Oswald', sans-serif;
}

h1, h3, h2{
    font-family: 'Amatic SC', cursive;
}

h2{
    letter-spacing: 0.05em;
    font-weight: bold;
}

textarea{
    border-radius: 7px;
}

.btn-primary, .btn-secondary, .btn-success, .btn-dark{
    box-shadow: 2px 2px 3px #1C1C1C;
}

.itemContainer:active, .btn-secondary:active, .btn-success:active, .btn-dark:active{
    box-shadow: 0 1px 3px #1C1C1C;
    transform: translateY(4px);
}
/*
   ======
== Home Page Styling
   ======
*/

#homeHeader {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#homeLogo{
    height: 30vmin;
}

#homeHeader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

#homeHeader .container {
  position: relative;
  z-index: 2;
}

#homeHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/*
   ======
== Dashboard Styling
   ======
*/
.dashHeader{
    background-color: rgba(153,141,129,.7);
    font-family: 'Work Sans', sans-serif;
}

.dashHeader h1{
    font-family: 'Amatic SC', serif;
}

.logo{
    width:120px;
}

.buildingContainer{
    background-image: url('/css/imgs/trees.png');
    background-color: lightblue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    border:2px solid black;
    border-radius: 5px;
}

.building{
    /* border:2px solid red; */
    width:90%;
    margin-top: 30px;
    background: firebrick;
}

.floor{
    /* border:1px solid blue; */
    position: relative;
    min-height: 50px;
    background: indianred;
    background-image: url('/css/imgs/officeWindow.png');
    background-size: contain;

}
.floorName{
    position: absolute;
    display:inline-block;
    top:8px;
    left: 28%;
   right: 0;
   text-align:center;
   width:50%;
   overflow: hidden;
   text-align: center;
   background-color: rgba(255,255,255,.7);
   border-radius: 7px;
   z-index: 1;
}

.floorName h3{
    margin:auto;
    font-family: 'Taviraj', serif;
}

.foodAlert{
    margin-right: 5px;
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color: LemonChiffon;
    background-image: url("/css/imgs/skull.png");
    background-size: contain;
    background-position: 3px 0;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 3px black;
    z-index: 2;
}
.foodAlert:active{
    box-shadow: 0 1px 3px grey;
    transform: translateY(4px);
}

.alertInfo{
    position:absolute;
    background-color: moccasin;
    border-radius: 7px;
    z-index: 3;
}

.indexCol{
    border: 1px solid black;
    width:200px;
    height:220px;
    border-radius: 100px 100px 0 0;
    background-color: lightgrey;
    background-image: url('imgs/kissclipart-grass-png-clipart-download-clip-art-6f30829daac881b0.png');
    background-size: 255px 70px;
    background-position: -25px 153px;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 0px rgba(255,255,255,.7), 0px -1px 0px rgba(0,0,0,.5);
    cursor:pointer;

}

.itemContainer{
    background-image: linear-gradient(#FFB3B3,#E8654F);
    margin:0 7px 10px 0;
    padding: 14px 7px 0 7px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px grey;
}

/*
   ======
== Modal Styling
   ======
*/
.modal-content{
    background-color: #acc18a;
}

.modalP{
    font-size: 24px;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

.modalDescription{
    border:1px solid grey;
    min-height: 50px;
    border-radius: 7px;
}

.commentSection{
    background-color: #dafeb7;
    margin:auto;
    width:97%;
    border-radius: 7px;
}

.commentSection p{
    margin:0;
}

.comment{
    border-radius: 20px;
    background-color: #f2fbe0
}
/*
   ======
== Create and Edit Page Styling
   ======
*/
.newContainer{
    background-image: url('imgs/savannaGreen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color:white;
}

.updateContainer{
    background-image: url('imgs/desert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color:white;
}

/*
   ======
== Media Queries
   ======
*/
@media screen and (max-width: 600px){
.floorName h3{
        font-size: 20px;
    }
}

@media screen and (max-height: 580px) {
    .slogan{
        font-size:54px;
    }

    #homeLogo{
        height:40%;
    }
